body, html {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background: rgb(0, 188, 212);
}

body > div {
  height: 100%;
  width: 100%;
  display: flex;
}
